@charset "UTF-8";

body{
    background-color: rgb(44, 44, 233);
}
header{
    text-align: center;
}
section{
    margin: auto;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
}